<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收银台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
<link rel="stylesheet" href="/Public/Front/css/bootstrap.min.css" >
</head>
<style>
  
</style>
<body style="background-color: #fff;text-align: center;">

    <div style="margin:auto;text-align: center;padding:0px 20px;max-width: 640px;">
      
        <h4>订单已经提交成功了,请尽快付款！</h4>
        <h4>应付金额：<strong style="color: #f00;"><{$money}></strong>元</h4>
        <div >订单号：<{$params.out_trade_id}></div>
        <div style="">
           <img src="<{$imgurl}>" style="width: 100%;  height: 100%;max-width: 320px;"/>
        </div>
        <div>
                请您在订单提交后，请在<font color="#f00">5</font>分钟【微信】扫一扫<strong color="#f00">过期后请勿支付，金额不会自动到账</strong>
        </div>

        <h3 style="color:#f00">支付后请耐心等待系统查询回调(10秒内)</h3>
    </div>
<!--收银台-->
<script src="/Public/Front/js/jquery.min.js"></script>
<script src="/Public/Front/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var r = window.setInterval(function () {
            $.ajax({
                type: 'POST',
                url: '<{:U("Pay/checkstatus")}>',
                data: "orderid=<{$orderid}>",
                dataType: 'json',
                success: function (str) {
                    if (str.status == "ok") {
                        $("#ewm").attr("src", "Uploads/successpay.png");
                        window.clearInterval(r);
                        window.location.href = str.callback;
                    }
                }
            });
        }, 2000);
    });
</script>
</body>
</html>